.App {
  text-align: center;
  height: 100%;
  
}
body, html {
  height: 100%;
}

#bg {
  position: absolute;
   /* Add the blur effect */
   filter: blur(12px);
   -webkit-filter: blur(12px);

   height: 100%;
   width: 100%;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index:-1;
}
.content {
  margin-top: 10em;
  left: 35%;
  position: absolute;
  z-index: 2;
}

.input-label {
  margin-right: 10px;
  margin-left: 10px;
}
